# Configuración del servidor
PORT=8080

# Credenciales de DSE WebNet
DSE_USER=tu_usuario_aqui
DSE_PASSWORD=tu_password_aqui
DSE_LOGIN_URL=https://www.dsewebnet.com/login.php
DSE_BASE_URL=https://www.dsewebnet.com

# Rendimiento
WORKERS=5
REALTIME_TIMEOUT_SEC=5